{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}
{{ form_start(form) }}

{{ form_row(form.name) }}
<br>
{{ form_row(form.url) }}
<br>
{{ form_row(form.prog) }}
<br>
{{ form_row(form.location) }}
<br><br>
{{ form_row(form.musique) }}
<br>
{{ form_row(form.content) }}
<br>
{{ form_row(form.price) }}
<br>


<button type="submit">Soumettre</button>



{{ form_end(form) }}
{% endblock  %}