{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminRecipeController!{% endblock %}

{% block section %}

{{ form_start(form) }}

{{ form_row(form.name) }}
<br>
{{ form_row(form.dateStart) }}
<br>
{{ form_row(form.dateEnd) }}
<br>
{{ form_row(form.location) }}
<br>
{{ form_row(form.url) }}
<br>
{{ form_row(form.artistes) }}
<br>
{{ form_row(form.content) }}
<br>
{{ form_row(form.image) }}
<br>




<button type="submit">Soumettre</button>

{{ form_end(form) }}
{% endblock  %}