{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminIngredientController!{% endblock %}

{% block section %}

<section class="container">

    <table>

        <tr>
            <th>Event :</th>
            <th scope="col">Voir</th>
            <th scope="col">Remove</th>
            <th scope="col">Edit</th>

        </tr>
        <a href="{{path('admin_event_add')}}">Add</a>
        {% for event in events %}
        <tr>
            <td>
                {{event.name}}
            </td>
            <td>
                <a href="{{ path('admin_event_show', {'id': event.id}) }}">Voir</a>
            </td>
            <td>
                <a href="{{ path('admin_event_delete', {'id': event.id}) }}">Supprimer</a>
            </td>
            <td>
                <a href="{{path('admin_event_edit',{id : event.id})}}">Edit</a>
            </td>

        </tr>

        </body>
        {% endfor %}
    </table>
</section>

{% endblock %}