{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}

<br>
<p>Title : {{ event.name }}</p>
<br>
<p>Date : {{ event.date }}</p>
<br>
<p>Lien : {{ event.url }}</p>
<br>
<p>Proramation : {{ event.prog }}</p>
<br>
<p>Musique : {{ event.musique.name }}</p>
<br>
<p>Content : {{ event.content }}</p>




<button type="submit">Soumettre</button>

{% endblock %}