{# {% extends 'base.html.twig' %} #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

{# {% block title %}Log in!{% endblock %} #}

{% block body %}
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form method="post" action="{{ path('app_register') }}">
			<h1>Create Account</h1>
			<span>or use your email for registration</span>
			<input type="pseudo" name="pseudo" id="inputpseudo" placeholder="Pseudo" />
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail_signup" class="form-control" autocomplete="email" placeholder="Email" autofocus>
			<input type="password" name="password" id="inputPassword_signup" class="form-control" autocomplete="current-password" placeholder="Passeword" required>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form method="post" action="{{ path('app_login') }}">
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail_login" class="form-control" autocomplete="email" placeholder="Email" autofocus>
			<input type="password" name="password" id="inputPassword_login" class="form-control" autocomplete="current-password" placeholder="Passeword" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container-form">
		<div class="overlay-form">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

 {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
</body>
</html>