{% extends 'base.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block body %}

    <div class="show-single">
        
        <h2 class="my-5">{{ artiste.name }}</h2>
 
            <div class = "show-single-image my-3">
                    {% if artiste.image %}
                        <img src="{{ asset(artiste.image) }}" alt="Image de l'artiste">
                    {% else %}
                        <em>Aucune image</em>
                    {% endif %}
            </div>
     
        <p class="my-3">Musique : {% for category in artiste.categories %}
                    {{ category.name }}
                {% else %}
                    <span>Aucune catégorie</span>
                {% endfor %}</p>
        <p class="my-3">Genre : {{ artiste.genre }}</p>
        <p class="my-3">Abonnées : {{ artiste.nbAbonne }}</p>
        <p class="my-3">Content : <br><br>{{ artiste.content }}</p>
        <p class="my-3">Country : {{ artiste.country }}</p> 
        

        <h3 class="my-5">🎵 Top titres Deezer</h3>
        <div id="trackList"></div>
        <div id="artistData" data-id="{{ artiste.id }}"></div>

        {% if events is not empty %}
            <div class="container">
                <h3 class="mt-5 my-3">🎫 Concerts à venir</h3>
                <div class="row">
                    {% for event in events %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                            <div class="card h-100 shadow-sm">
                                <div class="card-body">
                                    <strong>{{ event.name }}</strong><br>
                                    📍 {{ event._embedded.venues[0].name ?? '' }} - 
                                    {{ event._embedded.venues[0].city.name ?? '' }} 
                                    ({{ event._embedded.venues[0].country.countryCode ?? '' }})<br>
                                    🗓️ {{ event.dates.start.localDate ?? '' }}<br>
                                    {% if event.url is defined %}
                                        <a href="{{ event.url }}" target="_blank" 
                                        class="btn btn-primary btn-sm mt-2">Acheter un billet</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p class="mt-5">Aucun concert trouvé pour {{ artiste.name }}.</p>
        {% endif %}
        <br>
        <h3 class="mt-5 my-5">💬 Commentaire</h3>
        


        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-lg-12">
                <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                    <div class="card-body p-4">

                        {# FORMULAIRE COMMENTAIRE #}
                        
                        {{ form_start(form) }}
                            <div class="form-outline mb-4">
                                {{ form_widget(form.content, {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Écrire un commentaire...'
                                }
                                }) }}
                                {{ form_label(form.content, '+ Ajouter un commentaire', {'label_attr': {'class': 'form-label'}}) }}
                            </div>
                            <button class="btn btn-primary">Envoyer</button>
                        {{ form_end(form) }}

                        <hr>

                        {# LISTE DES COMMENTAIRES #}

                        {% for comment in comments %}
                        <div class="card mb-4">
                            <div class="card-body">
                                <p>{{ comment.content }}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small mb-0 ms-2">
                                            {{ comment.user ? comment.user.pseudo : '' }}
                                        </p>
                                    </div>
                                    <div class="d-flex flex-row align-items-center">
                                        <p class="small text-muted mb-0">
                                            {{ comment.createdAt ? comment.createdAt|date('d/m/Y') : '' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <p class="text-muted">Aucun commentaire pour le moment.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}




