<div class="container-fluid">
    <nav>
        <div class="logo">
          <a href = "{{path('home')}}"><img src="/images/Vibestage_logo.png" alt="Logo Vibestage"></a>
        </div>
        <div class="menu">
            {% if app.user %}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{path('admin')}}">Admin</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="connect">
            {% if app.user %}
                <span class="user-pseudo">{{app.user.pseudo}}</span><a href="{{path('app_logout')}}"> / Disconnect</a>
                {% else %}
                    <a class="connect" href="{{ path ('app_login') }}">Connect /</a>
                    <a class="connect" href="{{ path ('app_register') }}">Register</a>
            {% endif %}
        </div>
    </nav>
</div>

<div class = "intro">
    <h1 class="h1-intro">Vibetage<br></h1>
    <h2 class="h2-intro">Pour vibrer au rythme des artistes</h2>
    <div class = "intro-img">
        <img class="img-intro-gauche" src = "https://i.pinimg.com/736x/07/43/9f/07439f93003450ccbdfe961a95f6318c.jpg"/>
        <img class="img-intro-droite" src ="https://i.pinimg.com/1200x/74/08/b8/7408b895005c0b9c5229d3e12a91d1c3.jpg"/>
    </div>
</div>


