{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}

<div class="d-flex justify-content-center align-items-start min-vh-100 bg-light py-3">
    <div class="container col-md-6 p-4 bg-white rounded shadow my-5">
        <h2 class="text-center mb-4">Formulaire d'ajout d'Artiste</h2>

        {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.genre) }}
        {{ form_row(form.nbAbonne) }}
        {{ form_row(form.content) }}
        {{ form_row(form.image) }}
        {{ form_row(form.country) }}

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}