{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}


{{ form_start(form) }}

{{ form_row(form.name) }}
<br>
{{ form_row(form.categories) }}
<br>
{{ form_row(form.genre) }}
<br>
{{ form_row(form.nbAbonne) }}
<br>
{{ form_row(form.content) }}
<br>
{{ form_row(form.image) }}
<br>
{{ form_row(form.country) }}
<br>

<button type="submit">Soumettre</button>



{{ form_end(form) }}
{% endblock  %}