{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}

<br>
<p>Title : {{ artiste.name }}</p>
<br>
<tr>
    <th>Image :</th>
    <td>
        {% if artiste.image %}
            <img src="{{ asset(artiste.image) }}" alt="Image de l'artiste" style="max-width: 200px;">
        {% else %}
            <em>Aucune image</em>
        {% endif %}
    </td>
</tr>
<br>
<p>Genre : {{ artiste.genre }}</p>
<br>
<p>Ingredients : {{ artiste.musique.name }}</p>
<br>
<p>Content : <br>{{ artiste.content }}</p>
<br>
<p>Abonnées : {{ artiste.nbAbonne }}</p>
<br>
<p>Country : {{ artiste.country }}</p>
<br>


<button type="submit">Soumettre</button>

{% endblock %}