{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminCategoryController!{% endblock %}

{% block section %}

    <div class="show-single">
        <br>
        <tr>
            <td>
                {% if artiste.image %}
                    <img src="{{ asset(artiste.image) }}" alt="Image de l'artiste" style="max-width: 200px;">
                {% else %}
                    <em>Aucune image</em>
                {% endif %}
            </td>
        </tr>

        <br>

        <p>Name : {{ artiste.name }}</p>
        <br>
        <p>Musique : {% for category in artiste.categories %}
            {{ category.name }}
        {% else %}
            <span>Aucune catégorie</span>
        {% endfor %}</p>
        <br>
        <p>Genre : {{ artiste.genre }}</p>
        <br>
        <p>Abonnées : {{ artiste.nbAbonne }}</p>
        <br>
        <p>Content : <br>{{ artiste.content }}</p>
        <br>
        <p>Country : {{ artiste.country }}</p>
        <br>
    </div>




{% endblock %}