{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminIngredientController!{% endblock %}

{% block section %}

<section class="container">

    <table>
        <tr>
            <th>Musique :</th>
            <th scope="col">Voir</th>
            <th scope="col">Remove</th>
            <th scope="col">Edit</th>

        </tr>
        <a href="{{path('admin_musique_add')}}">Add</a>
        {% for musique in musiques %}
        <tr>
            <td>
                {{musique.name}}
            </td>
            <td>
                <a href="{{ path('admin_musique_show', {'id': musique.id}) }}">Voir</a>
            </td>
            <td>
                <a href="{{ path('admin_musique_delete', {'id': musique.id}) }}">Supprimer</a>
            </td>
            <td>
                <a href="{{path('admin_musique_edit',{id : musique.id})}}">Edit</a>
            </td>

        </tr>

        </body>
        {% endfor %}
    </table>
</section>

{% endblock %}