<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include "partials/nav.html.twig" %}
        </header>
        <main class="main">
            <aside class="sidebar">
                <nav class="nav">
                    <ul>
                        <li class="active"><a href="{{ path ('admin') }}">Welcome</a></li>
                        <li><a href="{{ path ('admin_artiste') }}">Artiste</a></li>
                        <li><a href="{{ path ('admin_event') }}">Event</a></li>
                        <li><a href="{{ path ('admin_musique') }}">Musique</a></li>
                    </ul>
                 </nav>
            </aside>
        </main>
        {% block section %}

        {% endblock %}
        <footer>
            {% include "partials/footer.html.twig" %}
        </footer>
    </body>

</html>
