{% extends 'base.admin.html.twig' %}

{% block title %}Hello AdminIngredientController!{% endblock %}

{% block section %}
  <div class="admin-content bg-white py-5">
      <div class="container">
          <h2 class="text-center mb-4">Menu Comment</h2>

          <div class="table-responsive">
              <table class="table table-striped table-bordered text-center">
                  <thead class="thead-dark">
                      <tr>
                          <th scope="col"></th>
                          <th scope="col">User</th>
                          <th scope="col">Artiste</th>
                          <th scope="col">Event</th>
                          <th scope="col">Content</th>
                          <th scope="col">Voir</th>
                          <th scope="col">Supprimer</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for comment in comments %}
                          <tr>
                              <th scope="row">{{ comment.id }}</th>
                              <td>{{ comment.user ? comment.user.pseudo : '' }}</td>
                              <td>{{ comment.artiste ? comment.artiste.name : '' }}</td>
                              <td>{{ comment.event ? comment.event.name : '' }}</td>
                              <td>{{ comment.content }}</td>
                              <td>
                                  <a href="{{ path('admin_comment_show', {'id': comment.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                              </td>
                              <td>
                                  <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
                              </td>
                          </tr>
                      {% else %}
                          <tr>
                              <td colspan="7">Aucun commentaire trouvé</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
{% endblock %}